.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-map-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  width: 1140px;
  height: 438px;
  margin: 31px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-map-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-map-1 {
    width: 340px;
  }
}