.u-section-1 .u-sheet-1 {
  min-height: 564px;
}

.u-section-1 .u-form-1 {
  height: 449px;
  margin-top: 58px;
  margin-bottom: 58px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 50px;
  padding: 16px 161px;
}